
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
button {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: white;
  background-color: rgba(205, 5, 10, 0.5);
  border: none;
  font-weight: 600;
}